
<!DOCTYPE html>
<html lang="en" ng-app="sh2">
  <head>
    <meta charset="utf-8">
    <title>SpriteHero 2.0 - Infinite Beta Edition</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/jquery-ui-1.9.1.custom.min.css" rel="stylesheet">
    <link href="lib/layout-default-latest.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/sh2.css">
  </head>

  <body ng-controller="AppCtrl" ui-keydown="{46 : 'trash()', 
                                             37 : 'left()', 
                                             38 : 'up()', 
                                             39 : 'right()', 
                                             40 : 'down()'}" >
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">SpriteHero 2.0</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" >File <b class="caret"></b></a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li><a tabindex="-1" href="#" ng-click="openURLModal=true">Open Sprite URL</a></li>

                    <li class="divider"></li>
                    <li class="disabled" disabled="disabled"><a tabindex="-1" href="#">Export CSS</a></li>
                  </ul>
              </li>
              <li><a href="#help" ng-click="openHelpModal=true">About</a></li>
            </ul>
            <div class="btn-group">
              <button class="btn" ng-disabled="settings.scale == 1" ng-click="zoomOut()"><i class="icon-zoom-out"></i></button>
              <button class="btn" ng-disabled="settings.scale > 6.5" ng-click="zoomIn()"><i class="icon-zoom-in"></i></button>
              <label class="btn zoom" disabled="disabled">{{settings.scale * 100}}%</label>
              <button class="btn" ng-disabled="settings.scale > 6.5" ng-click="settings.scale = 1">Reset</button>
            </div>  
            <div class="image-info">
              <a href="{{settings.image}}" target="_blank">{{settings.image}}</a>
              {{settings.width}}px by {{settings.height}}px
            </div>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div id="layout-container" layout>
      <div id="imageArea"  ng-controller="ImageAreaCtrl" class="pane ui-layout-center">
        <div id="sprite-container" generator>
          <img image-source id="sprite"/>
          <canvas grid id="grid"></canvas>

          
          <div ng-repeat="sprite in sprites.data" 
               ng-model="sprite"
               sprite
               class="sprite_box" 
               style="width: {{sprite.width * settings.scale}}px; 
                      height: {{sprite.height * settings.scale}}px;
                      top: {{sprite.y * settings.scale}}px;
                      left: {{sprite.x * settings.scale}}px;">
          </div>   
        </div>
      </div>

      <div id="settingsArea" class="pane ui-layout-east" ng-controller="SettingsCtrl" n>
        <form>
        <fieldset>
          <legend>Settings</legend>
               
          <label class="checkbox"><input type="checkbox" ng-model="settings.gridEnabled"/> Use Grid</label>
          <label for="numGrid">Grid Scale:</label>
          <input type="number" id="numGrid" name="numGrid" ng-model="settings.grid" class="input-mini" ng-disabled="!settings.gridEnabled"/>
          <label>Grid Visibility:</label>
          <div class="btn-group">
            <button class="btn" ng-click="gridOpacity(0.2)" ng-disabled="!settings.gridEnabled">Light</button>
            <button class="btn" ng-click="gridOpacity(0.5)" ng-disabled="!settings.gridEnabled">Medium</button>
            <button class="btn" ng-click="gridOpacity(1)" ng-disabled="!settings.gridEnabled">Dark</button>
          </div> 
          
        </fieldset>
      </form>
      </div>

      <div ng-controller="DataCtrl" id="bottomArea" class="pane ui-layout-south">
        <div class="tabbable tabs-left">
          <ul class="nav nav-tabs">
            <li class="active" ><a href="#data" data-toggle="tab">Sprite Data</a></li>
            <li><a href="#css" data-toggle="tab">CSS Output</a></li>
            <li><a href="#live" data-toggle="tab">Live View</a></li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="data">
              <table class="table table-bordered">
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Psuedo</th>
                  <th>Width</th>
                  <th>Height</th>
                  <th>X</th>
                  <th>Y</th>
                  <th></th>
                </tr>
                <tr ng-repeat="sprite in sprites">
                  <td><input type="text" ng-model="sprite.name" class="input-medium"></td>
                  <td><select ng-model="sprite.isClass" ng-options="t.value as t.label for t in types"/></td>
                  <td><select ng-model="sprite.psuedo" ng-options="p.value as p.label for p in psuedos"/></td>
                  <td><input type="number" ng-model="sprite.width" class="input-mini"/></td>
                  <td><input type="number" ng-model="sprite.height" class="input-mini"/></td>
                  <td><input type="number" ng-model="sprite.x" class="input-mini"/></td>
                  <td><input type="number" ng-model="sprite.y" class="input-mini"/></td>
                  <td><a href="#" ng-click="trash(sprite)"><i class="icon-trash"></i></a></td>
                </tr>
              </table>
            </div>
            <div class="tab-pane" id="css">
                <pre class="code">
                  <!--
                  TODO: probably replace this whole thing with a method in sprite so the output can be used elsewhere
                  TODO: if a psuedo class has a matching un-psuedo'd class, don't include width/height
                  -->
  <span ng-repeat="sprite in sprites">{{sprite.getTypeOutput()}}{{sprite.name}}{{sprite.getPsuedoOutput()}}{
    width:{{sprite.width}}px;
    height:{{sprite.height}}px;
    background-position: -{{sprite.x}}px -{{sprite.y}}px;
  }
  </span>
                </pre>
            </div>
            <div class="tab-pane active" id="live">
             
            </div>
          </div>
        </div>
      </div>
    </div> 

<!-- modals -->
<div class="modal" ui-modal ng-model="openURLModal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="openURLModal=false" aria-hidden="true">&times;</button>
    <h3>Open Sprite URL</h3>
  </div>
  <div class="modal-body">
    <form class="form-inline">
      <label>Sprite:</label>
      <input type="text" class="input-xlarge" ng-model="spriteURL" placeholder="http://"/>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" ng-click="openURLModal=false">Close</a>
    <a href="#" class="btn btn-primary" ng-click="openURL()">Open</a>
  </div>
</div>
<div class="modal" ui-modal ng-model="openHelpModal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="openHelpModal=false" aria-hidden="true">&times;</button>
    <h3>About</h3>
  </div>
  <div class="modal-body">
    Written by <a href="http://www.jrowny.com">Jonathan Rowny</a>
    with help from following opensource projects
    <ul>
      <li><a href="http://jquery.com/">jQuery</a></li>
      <li><a href="http://layout.jquery-dev.net/">UI Layout</a></li>
      <li><a href="http://twitter.github.com/bootstrap/">Bootstrap 2.0</a></li>      
      <li><a href="http://angularjs.org/">AngularJS</a></li>
      <li><a href="http://angular-ui.github.com/">AngularUI</a></li>
    </ul>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" ng-click="openHelpModal=false">Close</a>
  </div>
</div>

    <!-- libs -->
    <script src="lib/jquery-1.8.2.min.js"></script>
    <script src="lib/jquery-ui-1.9.1.custom.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/underscore-min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-ui.min.js"></script>
    <script src="lib/jquery.layout-latest.min.js"></script>
    <!--app stuff-->
    <script src="js/sprite.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/controllers.js"></script>
 
    </body>
</html>
