<!DOCTYPE html>
<html lang="en" ng-app="sh2">
  <head>
    <meta charset="utf-8">
    <title>SpriteHero 2.0 - Infinite Beta Edition</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SpriteHero 2 is a web app to help you write">
    <meta name="author" content="Jonathan Rowny">
    <!--(if target dist)>
    <link href="css/libs.css" rel="stylesheet" type="text/css">
    <link href="css/sh2.css" rel="stylesheet" type="text/css">
    <!(endif)-->
    <!--(if target dev)><!-->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="lib/jquery-ui-1.9.1.custom.min.css" rel="stylesheet" type="text/css">
    <link href="lib/layout-default-latest.css" rel="stylesheet" type="text/css">
    <link href="css/sh2.css" rel="stylesheet" type="text/css">
    <!--<!(endif)-->
  </head>
  <body ng-controller="AppCtrl" ui-keydown="{46 : 'trash()', 
                                             27 : 'deselect()',
                                             37 : 'left()', 
                                             38 : 'up()', 
                                             39 : 'right()', 
                                             40 : 'down()',
                                             187: 'zoomIn()',
                                             107: 'zoomIn()',
                                             109: 'zoomOut()',
                                             189: 'zoomOut()'}" >
    <div class="navbar" ng-include="'views/nav.html'"></div>
    <div id="layout-container" layout>
      <div id="imageArea"  ng-controller="ImageAreaCtrl" class="pane ui-layout-center">
        <div id="sprite-container" generator>
          <img image-source id="sprite"/>
          <canvas grid id="grid"></canvas>
          <div ng-repeat="sprite in sprites.data" 
               ng-model="sprite"
               ng-mousedown="sprites.current = sprite"
               ng-class="{true:'selected', false:''}[sprite == sprites.current]"
               sprite
               class="sprite_box" 
               style="width: {{sprite.width * settings.scale}}px; 
                      height: {{sprite.height * settings.scale}}px;
                      top: {{sprite.y * settings.scale}}px;
                      left: {{sprite.x * settings.scale}}px;">
              <span>{{sprite.getTypeOutput()}}{{sprite.name}}{{sprite.getPsuedoOutput()}}</span>  
          </div>   
        </div>
      </div>
      <div id="settingsArea" class="pane ui-layout-east" ng-controller="SettingsCtrl">
        <fieldset ng-include="'views/quickview.html'"></fieldset>
        <fieldset ng-include="'views/settings.html'"></fieldset>
      </div>
      <div ng-controller="DataCtrl" id="bottomArea" class="pane ui-layout-south">
        <div class="tabbable tabs-left">
          <ul class="nav nav-tabs">
            <li class="active" ><a href="#data" data-toggle="tab">Sprite Data</a></li>
            <li><a href="#css" data-toggle="tab">CSS Output</a></li>
            <li><a href="#live" data-toggle="tab">Live View</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="data" ng-include="'views/datatable.html'"></div>
            <div class="tab-pane" id="css" ng-include="'views/cssoutput.html'"></div>
            <div class="tab-pane" id="live" ng-include="'views/live.html'"></div>
          </div>
        </div>
      </div>
    </div> 
    <ng-include src="'views/modals.html'" id="modal-windows"></ng-include>     
    <!--(if target dist)>
    <script src="js/libs.js" type="text/javascript"></script>
    <script src="js/sh2.js" type="text/javascript"></script>
    <!(endif)-->
    <!--(if target dev)><!-->
    <script src="lib/jquery-1.8.2.min.js"></script>
    <script src="lib/jquery-ui-1.9.1.custom.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-ui.min.js"></script>
    <script src="lib/jquery.layout-latest.min.js"></script>
    <script src="js/sprite.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/controllers.js"></script>
    <!--<!(endif)-->
    </body>
</html>