<legend>Settings</legend>
<label>Base Element</label>

<label class="checkbox" >
<input type="checkbox" ng-model="settings.includeBase"> Include base element
</label>
<input type="text" ng-model="settings.baseElement" ng-required="settings.includeBase" ng-show="settings.includeBase"/>
<label class="checkbox">
<input type="checkbox" ng-model="settings.legacy">Old Browser Fix
</label>
     <!-- TODO: settings for opacities of elements -->
     <hr/>
<label class="checkbox"><input type="checkbox" ng-model="settings.gridEnabled"/> Use Grid (Experimental)</label>
<label for="numGrid">Grid Scale:</label>

<input type="number" id="numGrid" name="numGrid" ng-model="settings.grid" class="input-mini" ng-disabled="!settings.gridEnabled"/>
<label>Grid Visibility:</label>
<div class="btn-group">
  <button class="btn" ng-click="gridOpacity(0.2)" ng-disabled="!settings.gridEnabled">Light</button>
  <button class="btn" ng-click="gridOpacity(0.5)" ng-disabled="!settings.gridEnabled">Medium</button>
  <button class="btn" ng-click="gridOpacity(1)" ng-disabled="!settings.gridEnabled">Dark</button>
</div> 